<div class="container mx-auto">
  <p><%= current_user.email %></p>

  <p>Users</p>
  <%= turbo_stream_from "users" %>
  <div id="users">
    <%= render @users %>
  </div>

  <p>Rooms</p>
  <%= turbo_stream_from "room" %>
  <div id="rooms">
    <%= render @rooms %>
  </div>
</div>
