<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>RailsChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style type="text/css" media="screen">
      <%= ".message-box-#{current_user&.id}" %> {
        align-self: flex-end;
      }
      <%= ".message-#{current_user&.id}" %> {
        background-color: #bfdbfe;
      }
      <%= ".avatar-#{current_user&.id}" %> {
        order: 9999;
      }
    </style>
  </head>

  <body>
    <div class="bg-gray-100 min-h-screen">
      <%= yield %>
    </div>
  </body>
</html>
